<!DOCTYPE html>
<html>

  <head>
    <title>CarpoolApplication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
      <div class="top-nav">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Current Rides", rider_applications_path%></li>
          <li><%= link_to "Users", users_path%></li>
          <% if current_user %>
            Logged in as <%= current_user.email %>.
            <li style="float:right"><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li style="float:right"><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
  </header>

  <body>
    <div class='content'>
      <%= yield %>
    </div>
  </body>

</html>
