<%= form_for(rider_application) do |f| %>
  <% if rider_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rider_application.errors.count, "error") %> prohibited this rider_application from being saved:</h2>

      <ul>
      <% rider_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :Phone %>
    <%= f.text_field :Phone , maxlength: 10%>
  </div>

  <div class="field">
    <%= f.label :street_address %>
    <%= f.text_field :street_address %>
  </div>

  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code , maxlength: 5 %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :number_passengers %>
    <%= f.text_field :number_passengers %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
