<p id="notice"><%= notice %></p>

<h1>Current Rides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Street Address</th>
      <th>Zip Code</th>
      <th>City</th>
      <th>Number of Passengers</th>
      <th>Ride Status</th>
      <th>Notes</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @rider_applications.each do |rider_application| %>
      <tr <% if rider_application.ride_status == "pending" %> style="background-color: yellow" <%end %>
          <% if rider_application.ride_status == "finished" %> style="background-color: mediumspringgreen" <%end %> >
        <td><%= rider_application.Name %></td>
        <td><%= rider_application.Phone %></td>
        <td><%= link_to rider_application.street_address, "https://www.google.com/maps/search/?api=1&query=Z+islander+bryan" %></td>
        <td><%= rider_application.zip_code %></td>
        <td><%= rider_application.city %></td>
        <td><%= rider_application.number_passengers %></td>
        <td><%= rider_application.ride_status %></td>
          <%  if can? :update, @rider_application %>
            <td><%= link_to "Ride Notes",  edit_rider_application_path(rider_application)%></td>
          <% else %>
            <td><%= rider_application.notes %></td>
          <% end %>
        <td><%= link_to 'Show', rider_application %></td>
        <td><%= link_to 'Edit', edit_rider_application_path(rider_application) %></td>
        <td><%= link_to 'Destroy', rider_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rider Application', new_rider_application_path %>
