<%= form_for(driver) do |f| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :Phone %>
    <%= f.text_field :Phone , maxlength: 10%>
  </div>

  <div class="field">
    <%= f.label :number_passengers %>
    <%= f.text_field :number_passengers %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

