<p id="notice"><%= notice %></p>
<p>Current Car:
  <%#= @cars.each do |car_app| %>
    <%# if current_user.license_plate == car_app.License_plate%>
    <%# end %>
  <%# end %>
</p>



<h1>Drives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Zip Code</th>
      <th>Seats in Car</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @rider_applications.each do |rider_app| %>
      <tr>
        <%if rider_app.driver_name ==  current_user.first_name + " " + current_user.last_name%>
          <% if rider_app.ride_status != "finished" %>
        <td><%= rider_app.Name %></td>
        <td><%= rider_app.Phone %></td>
        <td><%= link_to rider_app.street_address, "https://www.google.com/maps/search/?api=1&query=" + rider_app.street_address + " " + rider_app.city%></td>
        <td><%= rider_app.zip_code%></td>
        <td><%= rider_app.number_passengers%></td>
        <td><%= button_to 'Show', rider_app %></td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
