<p id="notice"><%= notice %></p>

<h1>Drivers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Zip Code</th>
      <th>Seats in Car</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @rider_applications.each do |rider_app| %>
      <tr>
        <%if rider_app.driver_name ==  current_user.first_name + " " + current_user.last_name%>
        <td><%= rider_app.Name %></td>
        <td><%= rider_app.Phone %></td>
        <td><%= rider_app.street_address%></td>
        <td><%= rider_app.zip_code%></td>
        <td><%= rider_app.number_passengers%></td>
        <td><%= link_to 'Show', rider_app %></td>
        <td><%= link_to 'Edit', edit_driver_path(rider_app) %></td>
        <td><%= link_to 'Destroy', rider_app, method: :destroy, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver', new_driver_path %>
