
<!DOCTYPE html>
<html>

<p id="notice"><%= notice %></p>

<h1>Possible Ride Groupings</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Zip Code</th>
    <th>City</th>
    <th>Number of Passengers</th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>
    <% @rider_applications.each do |rider_application| %>
      <tr>
        <% if rider_application.zip_code == 77840 %>
          <% if rider_application.ride_status == "pending" %>
          <td><%= rider_application.Name %></td>
          <td><%= rider_application.Phone %></td>
          <td><%= link_to rider_application.street_address, "https://www.google.com/maps/search/?api=1&query=" + rider_application.street_address + " " + rider_application.city%></td>
          <td><%= rider_application.zip_code %></td>
          <td><%= rider_application.city %></td>
          <td><%= rider_application.number_passengers %></td>
          <td><%= button_to 'Show', rider_application %></td>
<!--          <td><%#= link_to 'Edit', edit_ride_path(ride) %></td>-->
<!--          <td><%#= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            <% end %>
          <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>

</html>


